# PostgreSQL configuration

listen_addresses = '{{ postgresql_listen_address }}'
port = {{ postgresql_port }}

# Настройки производительности
max_connections = 100
shared_buffers = 128MB
dynamic_shared_memory_type = posix

# Новые возможности PostgreSQL 18: asynchr. I/O
# Можно задать io_method, например io_uring или worker
# По умолчанию будет синхронный подход, если не переопределено
# io_method = 'worker'
# effective_io_concurrency = 2

log_timezone = 'UTC'
timezone = 'UTC'

# Включаем дополнительные конфиги
include_dir = 'conf.d'
