# Common PAM config file for password changes
# Managed by Ansible.

password    requisite           pam_pwquality.so retry={{ password_policy_pwquality_retry }} minlen={{ password_policy_pwquality_minlen }} minclass={{ password_policy_pwquality_minclass }} dcredit={{ password_policy_pwquality_dcredit }} ucredit={{ password_policy_pwquality_ucredit }} lcredit={{ password_policy_pwquality_lcredit }} ocredit={{ password_policy_pwquality_ocredit }}{% if password_policy_pwquality_reject_username %} reject_username{% endif %}{% if password_policy_pwquality_enforce_for_root %} enforce_for_root{% endif %}
password    [success=1 default=ignore]  pam_unix.so obscure sha512 shadow remember={{ password_policy_remember_count }}
password    requisite           pam_deny.so
password    required            pam_permit.so
password    optional            pam_gnome_keyring.so
