# templates/jail.local.j2

[DEFAULT]
bantime  = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}
banaction = {{ fail2ban_banaction }}
destemail = {{ fail2ban_destemail }}
sendername = {{ fail2ban_sendername }}
mta = {{ fail2ban_mta }}

ignoreip = {% for ip in fail2ban_ignore_ips %}{{ ip }} {% endfor %}

# Jail'ы для сервисов
# --- SSH ---
[sshd]
enabled = {{ fail2ban_ssh_enabled }}
port = {{ fail2ban_ssh_port }}
logpath = %(sshd_log)s
backend = %(sshd_backend)s
action = {{ fail2ban_ssh_action }}

# --- Recidive Jail ---
[recidive]
enabled = {{ fail2ban_recidive_enabled }}
bantime = {{ fail2ban_recidive_bantime }}
findtime = {{ fail2ban_recidive_findtime }}
maxretry = {{ fail2ban_recidive_maxretry }}
logpath = /var/log/fail2ban.log
action = {{ fail2ban_recidive_action }}
